<%= erb :header %>
      <main>
        <div class="page-header">
          <h1>Classic Mastermind</h1>
        </div>
        <%= erb :gameover_and_instructions %>
        <div class="board">
          <%= erb :guide %>
          <% unless @gameover %>
            <%= erb :guessrow %>
          <% end %>
          <%= erb :oldrows %>
        </div>
        <%= erb :gamechooser %>
      </main>
<%= erb :footer %>
